
<% if current_user.id != nil %>
<div class='hero-unit'>
	 
	<h1>New event</h1>

<%= form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>  
    
    </div>
  <% end %>  
  <%= f.hidden_field :maker, :value => current_user.id %>

  <div class="field">
    <%= f.label :title , 'Title'%><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :dayof, "Date of Event"%><br />
    <%= f.date_select :dayof %>
  </div>  
 Event Type
    <div class="field">  
    <%= f.radio_button :cat, 'tournament' %> Tournament
    <%= f.radio_button :cat, 'view' %> Viewing Party
    <%= f.radio_button :cat, 'con/pax' %> Con/Pax
    <%= f.radio_button :cat, 'other'%> Other
  </div>  
  <br />
  <div class="field">
    <%= f.label :start %><br /> 
     <%= f.time_select :start ,
  :default => Time.now.change(:hour => 11 )
%>
  </div>
 
<%= f.label :address, "Address "%> street, city, state or street, zip code
<br />
<%= f.text_field :address %>

<%= f.label :website , ' Website or link'%>
<br />
<%= f.text_field :website %>
<br />
<%= f.label :cost, 'Cost:'%>
<br />
<%= f.text_field, :cost , :value => '0'%>
<br />
  <div class="field">Supports html mark up
<%= f.label :desc, "Description"%>
<%= f.text_area :desc%>
</div>
  <div class="actions">
    <%= f.submit ' create new submit' ,  
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>


<%= link_to 'Back', events_path %> 
	
	 
  
 
	</div>
<% else %>

Sign in to make an event please

<% end %>
