
<% if current_user.id != nil %>
<div class='hero-unit'>
	 
	<h1>New event</h1>

<%= form_for(@event) do |f| %>

  
  <%= f.hidden_field :maker, :value => current_user.id %>

  <div class="field">
    <%= f.label :title , 'Title'%><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :dayof, "Date of Event"%><br />
    <%= f.date_select :dayof %>
  </div>  
 Event Type 
    <%= f.radio_button    :cat, :value =>'tournament'%>  <%= f.label :cat,'Tournament' , :value => 'tournament' %>
  <%= f.radio_button    :cat, :value =>'view'%>  <%= f.label :cat,'View Party' , :value => 'view'%>
    <%= f.radio_button    :cat, :value =>'con/pax'%>  <%= f.label :cat,'Pax or Con' , :value => 'con/pax'%>
  <%= f.radio_button    :cat, :value =>'other'%>  <%= f.label :cat,'Other' , :value => 'other'%>  
  
  	 
  
  <br />
  <br />
  <div class="field">
    <%= f.label :start %><br /> 
     <%= f.time_select :start ,
  :default => Time.now.change(:hour => 11 )
%>
  </div>
   <div class="field">
<%= f.label :address, "Address "%> street, city, state or street, zip code
</div>
<br />
  <div class="field">
<%= f.text_field :address %>
</div>
<div class="field">
	<%= f.check_box :isOnline%>
</div>
  <div class="field">
<%= f.label :website , ' Website or link'%>
</div>
<br />
  <div class="field">
<%= f.text_field :website %>
</div>
<br />
  <div class="field">
<%= f.label :cost, 'Cost:'%>
</div>
<br />
  <div class="field">
<%= f.text_field  :cost , :value => '0'%>
</div>
<br />  <div class="field">
  <div class="field">Supports html mark up
<%= f.label :desc, "Description"%>
<%= f.text_area :desc%>
</div>
</div>
  <div class="actions">
    <%= f.submit ' create new submit' ,   class: "btn btn-large btn-primary" %>
  </div>
<% end %>


<%= link_to 'Back', events_path %> 
	
	 
  
 
	</div>
<% else %>

Sign in to make an event please

<% end %>
