<div class="hero-unit">
<p id="notice"><%= notice %></p>
<script>
   jQuery(window).on('mercury:ready', function() { Mercury.saveUrl = '/events/' + <%= @event.id %> + "/mercury_update"; });
</script>
<p>
   
  <h1>  
      <div class="content">
  <div id="page_topic" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
 <%= raw  @event.title %>
  
  </div>
  </div> </h1>
  <h2>Type of event: <%= @event.cat%></h2>
</p>
<p>


</p>
<p><p>
  <b>Date:</b>
   
  <%= @event.dayof.month %>/<%= @event.dayof.day%>/<%= @event.dayof.year%> 
</p>
  <b>Start:</b>
       
    	<% if @event.start.hour > 12 %>
		 			<%= @event.start.hour - 12 %>:
			
				<% if @event.start.min == 0 %>
				  	00 PM
				<% else %>
				<% if @event.start.min>9%>
					<%= @event.start.min %> PM
					
					<% else %>
					0<%= @event.start.min %> PM
					<% end %>
				<% end %>
			
			
		<%else%>
		 
			<%= @event.start.hour %>:
				<% if @event.start.min ==0 %>
				  	00 AM
				<% else %>
					<% if @event.start.min>9%>
					<%= @event.start.min %> AM
					
					<% else%>
					0<%= @event.start.min %> AM
					<% end %>
				<% end %>
					
				
      	<% end%> 
</p>


<p>
	
	<b>Address:</b>
	    <div class="content">
  <div id="page_address" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
   <%= @event.address %> 
    
    
  </div>
  </div>

</p>  Latitude:
  <%= @event.latitude%>
  <p>longitude:
  	<%= @event.longitude%>
  </p>
<p>
  <b>Description:</b>
    <div class="content">
  <div id="page_body" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
   <%= raw @event.desc %> 
    
    
  </div>
  </div>
 
</p>
<% if current_user != nil%> 
	<%= link_to 'edit date/time', edit_event_path(@event)  %> |
	<%= link_to "Edit Event Description", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_event_path(@event)} %>|
	<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
 
	<%= link_to 'Back', events_path %>
<%end %>
</div>
